.App {
  text-align: center;
}

.App-header {
  font-size: 24px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

#botonera {
  display: flex;
  justify-content: space-evenly;
}

.mainView{
  width: 100% important;
  padding:5%;
  padding-top: 2%;
}

table{
  align-self: center;
  width: 100%;
  border: 1px solid #e3e3e3;
}

td{
  padding: 5px;
  min-width: 50px;
  border-bottom: 1px solid #e3e3e3;
}

.title{
  text-transform: capitalize;
  font-weight: bold;
}